<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- <script type="text/javascript" src="/js/app.js"></script> -->
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This website was created by Anurag. It uses data from openweathermap.org!</p>
      <img class="portrait" src="/img/img.jpeg">
    </div>
    {{>footer}}

  </body>
</html>
